.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    margin: 32px 16px;
    padding: 10px 96px;
    background-color: rgb(29, 28, 28);
    box-shadow: 0px 0px 12px #6a7281;
    color: aliceblue;
    width: 900px;
    font-size: 20px;
}

.row:hover{
    transform: scale(1.01);
    transition: .3s ease-in-out;
    cursor: pointer;
}

img{
    height: 80px;
    width: auto;
}